.sidebar .scroll{max-height:250px; overflow-y: scroll; overflow-x: hidden;}
.sidebar .scroll::-webkit-scrollbar{width: 3px !important; height: 2px!important};
.sidebar .scroll::-webkit-scrollbar-thumb{background-color: #ccc !important}


.ReactCollapse--collapse {
  transition: height 500ms;
}