.categoryPanel button{text-transform: capitalize !important; }
/* .categoryPanel .inner_submenu{display: none;} */
.nav   li .submenu{visibility: hidden;}
.nav   li:hover .submenu{opacity: 1 !important; visibility: inherit; top: 100%; }