@tailwind base;
@tailwind components;
@tailwind utilities;

*{margin:0px; padding: 0px; box-sizing: border-box;}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color: rgba(0,0,0,0.7);
  overflow: inherit;
  
}

.container {
  width: 95%;
  margin: auto;
}

 
/* .top-strip {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
} */

.link:hover {
  color: #ff5252 !important;
}

.muiBadge-badge{background-color:#ff5252 !important}
nav ul button{text-transform: capitalize !important; color: rgba(0,0,0,0.7) !important}
/* nav button:hover{text-transform: capitalize !important; color: #ff5252 !important} */

/* nav ul button:hover .MuTouchRipple-root{background: rgba(0,0,0,0.1) !important;} */


.sliderHome{
    overflow: inherit !important;
}


.swiper-button-prev,.swiper-button-next{display:flex; align-items:
   center; justify-content: center; background:#fff; border-radius:
    100%; width:45px; height:45px; min-width: 45px;  
    box-shadow: 0 1px 3px #0000001a, 0 1px 2px #0000003a !important;
   }
.swiper-navigation-icon,.swiper-navigation-icon{width:10px !important; color:#000;}

.homeCatSlider{overflow: inherit !important;}
.homeCatSlider .swiper-button-prev, .homeCatSlider .swiper-button-next{width: 30px; height: 30px; min-width: 30px;}
.homeCatSlider .swiper-navigation-icon, .homeCatSlider.swiper-navigation-icon {width:10px !important; color:#000;}

.homeCatSlider .swiper-button-prev{left: -10px !important}
.homeCatSlider .swiper-button-next{right: -10px !important};

.homeCatSlider .swiper-button-prev:hover{background:#ff5252 !important};
.homeCatSlider .swiper-button-prev:hover::after{color:#fff !important}
