@tailwind base;
@tailwind components;
@tailwind utilities;

*{margin:0px; padding: 0px; box-sizing: border-box;}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color: rgba(0,0,0,0.7);
  overflow: inherit;
  
}
::-webkit-scrollbar{width: 8px !important; height: 8px !important;}
::-webkit-scrollbar-thumb{background: #ff5252;}
::-webkit-scrollbar-track{background: white;}

.container {
  width: 95%;
  margin: auto;
}

.btn-org{background: #ff5252 !important; color:#fff !important; font-weight:500; font-size:16px; padding:7px, 20px;}
.btn-org:hover{background:#000 !important}

.btn-lg{font-size:18px !important; padding: 10px,20px !important;}
/* .top-strip {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
} */

.link:hover {
  color: #ff5252 !important;
}

.muiBadge-badge{background-color:#ff5252 !important}
nav ul button{text-transform: capitalize !important; color: rgba(0,0,0,0.7) !important}
/* nav button:hover{text-transform: capitalize !important; color: #ff5252 !important} */

/* nav ul button:hover .MuTouchRipple-root{background: rgba(0,0,0,0.1) !important;} */


.sliderHome{
    overflow: inherit !important;
}


.swiper-button-prev,.swiper-button-next{display:flex; align-items:
   center; justify-content: center; background:#fff; border-radius:
    100%; width:45px; height:45px; min-width: 45px;  
    box-shadow: 0 1px 3px #0000001a, 0 1px 2px #0000003a !important;
   }
.swiper-navigation-icon,.swiper-navigation-icon{width:10px !important; color:#000;}

.homeCatSlider{overflow: inherit !important;}
.homeCatSlider .swiper-button-prev, .homeCatSlider .swiper-button-next{width: 30px; height: 30px; min-width: 30px;}
.homeCatSlider .swiper-navigation-icon, .homeCatSlider.swiper-navigation-icon {width:10px !important; color:#000;}

.homeCatSlider .swiper-button-prev{left: -10px !important}
.homeCatSlider .swiper-button-next{right: -10px !important};

.homeCatSlider .swiper-button-prev:hover{background:#ff5252 !important};
.homeCatSlider .swiper-button-prev:hover::after{color:#fff !important}
.MuiTabs-indicator{background-color: #ff5252 !important;}
.MuiTab-textColorPrimary.Mui-selected{color:#ff5252 !important}

.productsSlider .swiper-wrapper{padding:15px; margin-left:-15px; margin-right:-15px};

footer form input::placeholder{font-size:14px}

.PrivateSwitchBase-input{
 color:#ff5252 !important
} 
.MuiFormControlLabel-label{font-size:13px !important}

.swiper-pagination-bullet-active{background:#ff5252 !important}

.homeSliderV2 .swiper-slide-active .info{right:0px !important; opacity: 1;}
.homeSliderV2 .swiper-slide-active .info h4{right:0px !important; opacity: 1;}
.homeSliderV2 .swiper-slide-active .info h2{right:0px !important; opacity: 1;}
.homeSliderV2 .swiper-slide-active .info h3{right:0px !important; opacity: 1;}
.homeSliderV2 .swiper-slide-active .info .btn_{bottom:0px !important; opacity: 1;}
.homeSliderV2 .info h4{transition-duration: 2s;}
.homeSliderV2 .info h2{transition-duration: 2.3s;}
.homeSliderV2 .info h3{transition-duration: 3s;}
.homeSliderV2 .info .btn_{transition-duration: 1.5s;}

.MuiCheckbox-colorPrimary{color:#ff5252 !important};

 
.Mui-selected .MuiPaginationItem-page{color:#ff5252 !important; opacity:1}
 .Mui-selected .MuiPaginationItem-page{background:#ff5252 !important; color:#fff 
    !important; }


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spain-button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} 
.reviewScroll::-webkit-scrollbar{width:5px !important; height:2px !important;}
.reviewScroll::-webkit-scrollbar-thumb{background: #ccc;}

.productDetailsModal .MuiDialogContent-root{
  padding:0px !important
}

 