@tailwind base;
@tailwind components;
@tailwind utilities;

*{margin:0px; padding: 0px; box-sizing: border-box;}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color: rgba(0,0,0,0.7)
}

.container {
  width: 95%;
  margin: auto;
}

 
/* .top-strip {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
} */

.link:hover {
  color: #ff5252;
}

.muiBadge-badge{background-color:#ff5252 !important}
nav button{text-transform: capitalize !important; color: rgba(0,0,0,0.7) !important}
/* nav button:hover{text-transform: capitalize !important; color: #ff5252 !important} */

/* nav ul button:hover .MuTouchRipple-root{background: rgba(0,0,0,0.1) !important;} */